.grid {
    display: flex;
    flex-direction: column;

    gap: 2px;
}
.row {
    display: flex;
    gap: 2px;

    justify-content: center;

}

.cell {
    display: block;
    height: 36px;
    width: 36px;
    background-color: var(--body-bg);
    border-radius: 4px;
}

.minimize {
    margin: 0 auto;
}

.minimize .cell {
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

.cell-I {
    background-color: #73daca !important;
}

.cell-O {
    background-color: #e0af68 !important;

}

.cell-S {
    background-color: #f7768e !important;

}

.cell-Z {
    background-color: #9ece6a !important;

}

.cell-L {
    background-color: #ff9e64 !important;

}

.cell-J {
    background-color: #7aa2f7 !important;
}

.cell-T {
    background-color: #bb9af7 !important;
}

.cell-PREV {
    height: 32px;
    width: 32px;
    border: 2px inset #2ac3de;
}
