.game{
    width: 890px;
    position: relative;
    margin: 0 auto;
    padding: 15px 40px;

    display: flex;
    justify-content: center;

    gap: 20px;
    align-items: start;

    background-color: var(--game-bg);

    border-radius: 10px;
    border: solid 2px var(--game-border);
}

.game section {
    position: relative;
    height: 726px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-btn{
    width: 189px;

    display: flex;
    justify-content: space-between;
}

.text {
    position: absolute;

    user-select: none;

    font-size: 112px;
    color: var(--font-color-secondary);


    top: 50%;
    transform: translateY(-50%);

    z-index: 1;
}


/**
    Link to website
 */

.website {
    position: absolute;
    width: 100%;
    bottom: 25px;
    font-size: 17px;
    line-height: 1;
    font-family: "Poppins Bold", sans-serif;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.website:hover {
    text-decoration: underline;
}

